/* src/pages/HomePage.css */

/* Styles globaux */
.home-page {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.home-page-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home-page-buttons {
  display: flex;
  gap: 10px; /* Espacement entre les boutons */
  justify-content: center; /* Centrer les boutons horizontalement */
  flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
  max-width: 800px; /* Largeur maximale pour les grands écrans */
  margin: 0 auto; /* Centrer le conteneur */
}

.home-page-button {
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  flex: 1 1 calc(25% - 20px); /* Chaque bouton prend 25% de la largeur sur grand écran */
  min-width: 150px; /* Largeur minimale pour éviter des boutons trop petits */
}

/* Styles spécifiques pour chaque bouton */
#project1-button {
  background-color: #20b2aa;
}
#project1-button:hover {
  background-color: #178a83;
}

#project2-button {
  background-color: #ff7f50;
}
#project2-button:hover {
  background-color: #ff6347;
}

#project3-button {
  background-color: #6a5acd;
}
#project3-button:hover {
  background-color: #483d8b;
}

#project4-button {
  background-color: #32cd32;
}
#project4-button:hover {
  background-color: #228b22;
}

#project5-button {
  background-color: #4682b4;
}
#project5-button:hover {
  background-color: #36648b;
}

#project6-button {
  background-color: #e67e22;
}
#project6-button:hover {
  background-color: #d35400;
}

#project7-button {
  background-color: #8e44ad;
}
#project7-button:hover {
  background-color: #71368a;
}

#project8-button {
  background-color: #1abc9c;
}
#project8-button:hover {
  background-color: #16a085;
}

#project9-button {
  background-color: #e74c3c;
}
#project9-button:hover {
  background-color: #c0392b;
}

#project10-button {
  background-color: #3498db;
}
#project10-button:hover {
  background-color: #2980b9;
}

#project11-button {
  background-color: #2c3e50;
}
#project11-button:hover {
  background-color: #1a252f;
}

#project12-button {
  background-color: #d81b60;
}
#project12-button:hover {
  background-color: #b0003a;
}

#project13-button {
  background-color: #2e7d32;
}
#project13-button:hover {
  background-color: #1b5e20;
}

#project14-button {
  background-color: #ffb300;
}
#project14-button:hover {
  background-color: #ff8f00;
}

/* Media Queries pour les petits écrans */
@media (max-width: 768px) {
  .home-page-buttons {
    flex-direction: column; /* Passage en colonne */
    align-items: center; /* Centrer les boutons verticalement */
  }

  .home-page-button {
    flex: 1 1 100%; /* Chaque bouton prend 100% de la largeur */
    min-width: auto; /* Annuler la largeur minimale */
  }
}